#heading {
    font-family: Roboto, sans-serif;
    text-align: center;
}

body {
    background-color: #e7e0e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
    display: flex;
    justify-content: space-between;
    gap: 0;
}

#sideBar {
    width: 200px;
    background-color: aqua;
    padding: 16px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#sideBar > button {
    /* display: block; Make block display instead of in-line */
    padding: 10px;
}

#interface {
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 600px;
    height: 600px;
    background-color:blueviolet;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap; /* Make pixel wrap inside the canvas */
    justify-content: center;
}

.square {
    margin: 0px auto;
    background-color:rgb(43, 226, 122);
}

#footer {
    font-family: Roboto, sans-serif;
    text-align: center;
}